<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Pathogen.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C16F77E01D4E875D0064D28D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C16F77F71D4E875D0064D28D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C16F78021D4E875D0064D28D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
